@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Poppins', sans-serif;
  --color-brand: #5B2EE8;
  --color-brand-dark: #4320C4;
  --color-brand-light: #EDE9FD;
}
